* {
  /*! RESET NO CSS */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 180vh;
}

.container {
  background-color: #121212;
  height: 500px;
  margin: 50px;

  /*Ativando flexbox*/
  display: flex;
  flex-direction: row;
}

.area {
  width: 100px;
  height: 100px;
  font-size: 45px;
}

.item-1 {
  background-color: red;
  order: 3;
}

.item-2 {
  background-color: blue;
  order: 2;
}

.item-3 {
  background-color: green;
  order: 1;
}
