* {
  box-sizing: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

ul li {
  list-style: none;
  margin-bottom: 25px;
}

img {
  max-width: 450px;
  height: 250px;
  border-radius: 5px;
  margin: 10px 0;
}