* {
  /*! RESET NO CSS */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 180vh;
}

.container {
  background-color: #121212;
  height: 500px;
  margin: 50px;

  /*Ativando flexbox*/
  display: flex;
  flex-direction: row;
}

.area {
  width: 100px;
  height: 100px;

  /* Flex properties */
  flex-basis: 400px; /* Define o tamanho inicial do item flex */
  flex-grow: 1;
}

.item-1 {
  background-color: red;
  flex-shrink: 1;
}

.item-2 {
  background-color: blue;
  flex-shrink: 1;
}

.item-3 {
  background-color: green;
  flex-shrink: 2; /* Este item encolhe 2x mais rapidamente que os outros */
}
